<link rel="preload" as="font" href="{{ "fonts/source-sans-3/WOFF2/SourceSans3-Regular.ttf.woff2" | absURL }}" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="{{ "fonts/source-sans-3/WOFF2/SourceSans3-Medium.ttf.woff2" | absURL }}" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="{{ "fonts/source-sans-3/WOFF2/SourceSans3-Bold.ttf.woff2" | absURL }}" type="font/woff2" crossorigin>

{{ if .Site.Params.options.kaTex -}}
  <link rel="preload" as="font" href="{{ "fonts/KaTeX_Main-Regular.woff2" | absURL }}" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="{{ "fonts/KaTeX_Math-Italic.woff2" | absURL }}" type="font/woff2" crossorigin>
{{ end -}}